# Identifying Consumer Segments (Python)

In [1]:
# prepare for Python version 3x features and functions

from __future__ import division, print_function

In [2]:
# import packages for data manipulation and multivariate analysis

import pandas as pd # DataFrame structure and operations
import numpy as np # arrays and numerical processing
from sklearn.cluster import KMeans # cluster analysis by partitioning
from sklearn.metrics import silhouette_score as silhouette_score

In [56]:
# read data from comma-delimited text file... create DataFrame object
bank = pd.read_csv(r"C:\Users\Zachary_B\Desktop\Dataset\bank.csv", sep = ';')

In [4]:
# check the structure of the data frame
print(bank.head)

<bound method NDFrame.head of       age            job  marital  education default  balance housing loan  \
0      30     unemployed  married    primary      no     1787      no   no
1      33       services  married  secondary      no     4789     yes  yes
2      35     management   single   tertiary      no     1350     yes   no
3      30     management  married   tertiary      no     1476     yes  yes
4      59    blue-collar  married  secondary      no        0     yes   no
...   ...            ...      ...        ...     ...      ...     ...  ...
4516   33       services  married  secondary      no     -333     yes   no
4517   57  self-employed  married   tertiary     yes    -3313     yes  yes
4518   57     technician  married  secondary      no      295      no   no
4519   28    blue-collar  married  secondary      no     1137      no   no
4520   44   entrepreneur   single   tertiary      no     1136     yes  yes

       contact  day month  duration  campaign  pdays  previous poutcome  \
0     cellular   19   oct        79         1     -1         0  unknown
1     cellular   11   may       220         1    339         4  failure
2     cellular   16   apr       185         1    330         1  failure
3      unknown    3   jun       199         4     -1         0  unknown
4      unknown    5   may       226         1     -1         0  unknown
...        ...  ...   ...       ...       ...    ...       ...      ...
4516  cellular   30   jul       329         5     -1         0  unknown
4517   unknown    9   may       153         1     -1         0  unknown
4518  cellular   19   aug       151        11     -1         0  unknown
4519  cellular    6   feb       129         4    211         3    other
4520  cellular    3   apr       345         2    249         7    other

     response
0          no
1          no
2          no
3          no
4          no
...       ...
4516       no
4517       no
4518       no
4519       no
4520       no

[4521 rows x 17 columns]>

In [5]:
print(bank.shape)

(4521, 17)

In [6]:
# look at the list of column names
list(bank.columns.values)

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'response']

## Examine the demographic variable age

In [7]:
print(bank['age'].unique())

[30 33 35 59 36 39 41 43 20 31 40 56 37 25 38 42 44 26 55 67 53 68 32 49
 78 23 52 34 61 45 48 57 54 63 51 29 50 27 60 28 21 58 22 46 24 77 75 47
 70 65 64 62 66 19 81 83 80 71 72 69 79 73 86 74 76 87 84]

In [8]:
print(bank['age'].value_counts(sort = True))

34    231
32    224
31    199
36    188
33    186
     ...
68      2
86      1
81      1
84      1
87      1
Name: age, Length: 67, dtype: int64

In [9]:
print(bank['age'].describe())

count    4521.000000
mean       41.170095
std        10.576211
min        19.000000
25%        33.000000
50%        39.000000
75%        49.000000
max        87.000000
Name: age, dtype: float64

## Examine the demographic variable job

In [10]:
print(bank['job'].unique())

['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'unknown']

In [11]:
print(bank['job'].value_counts(sort = True))

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

In [12]:
print(bank['job'].describe())

count           4521
unique            12
top       management
freq             969
Name: job, dtype: object

In [13]:
# define job indicator variables
# We are going to create dummy variables for each of the job categories
job_indicators = pd.get_dummies(bank['job'],prefix = 'job')

In [14]:
# The join() method takes all items in an iterable and joins them into one string. 
print(job_indicators.head())

   job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  \
0           0                0                 0              0
1           0                0                 0              0
2           0                0                 0              0
3           0                0                 0              0
4           0                1                 0              0

   job_management  job_retired  job_self-employed  job_services  job_student  \
0               0            0                  0             0            0
1               0            0                  0             1            0
2               1            0                  0             0            0
3               1            0                  0             0            0
4               0            0                  0             0            0

   job_technician  job_unemployed  job_unknown
0               0               1            0
1               0               0            0
2               0               0            0
3               0               0            0
4               0               0            0

In [15]:
bank = bank.join(job_indicators)
bank['whitecollar'] = bank['job_admin.'] + bank['job_management'] + \
bank['job_entrepreneur'] + bank['job_self-employed']
bank['bluecollar'] = bank['job_blue-collar'] + bank['job_services'] + \
bank['job_technician'] + bank['job_housemaid']

## Examine the demographic variable marital

In [16]:
print(bank['marital'].unique())

['married' 'single' 'divorced']

In [17]:
print(bank['marital'].value_counts(sort =True))

married     2797
single      1196
divorced     528
Name: marital, dtype: int64

In [18]:
print(bank['marital'].describe())

count        4521
unique          3
top       married
freq         2797
Name: marital, dtype: object

In [19]:
# define marital indicator variables
marital_indicators = pd.get_dummies(bank['marital'], prefix ='marital')
print(marital_indicators.head())

   marital_divorced  marital_married  marital_single
0                 0                1               0
1                 0                1               0
2                 0                0               1
3                 0                1               0
4                 0                1               0

In [20]:
bank = bank.join(marital_indicators)

In [21]:
bank['divorced'] = bank['marital_divorced']

In [22]:
bank['married'] = bank['marital_married']

## Examine the demographic variable education

In [23]:
print(bank['education'].unique())

['primary' 'secondary' 'tertiary' 'unknown']

In [24]:
print(bank['education'].value_counts(sort =True))

secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

In [25]:
print(bank['education'].describe())

count          4521
unique            4
top       secondary
freq           2306
Name: education, dtype: object

In [26]:
# define education indicator variables
education_indicators = pd.get_dummies(bank['education'], prefix ='education')

In [27]:
print(education_indicators.head())

   education_primary  education_secondary  education_tertiary  \
0                  1                    0                   0
1                  0                    1                   0
2                  0                    0                   1
3                  0                    0                   1
4                  0                    1                   0

   education_unknown
0                  0
1                  0
2                  0
3                  0
4                  0

In [28]:
bank = bank.join(education_indicators)

In [29]:
bank['primary'] = bank['education_primary']

In [30]:
bank['secondary'] = bank['education_secondary']

In [31]:
bank['tertiary'] = bank['education_tertiary']

### Select/filter for cases never previously contacted by sales

In [32]:
bank_selected = bank[bank['previous'] == 0]
print(bank_selected.shape)

(3705, 43)

In [33]:
# select subset of variables needed for cluster analysis and post-analysis
bankfull = pd.DataFrame(bank_selected, \
columns = ['response', 'age', 'whitecollar', 'bluecollar', 'divorced', 'married', 'primary', 'secondary', 'tertiary'])

## Examine the structure of the full bank DataFrame

In [34]:
# check the structure of the data frame
print(bankfull.head)

<bound method NDFrame.head of      response  age  whitecollar  bluecollar  divorced  married  primary  \
0          no   30            0           0         0        1        1
3          no   30            1           0         0        1        0
4          no   59            0           1         0        1        0
7          no   39            0           1         0        1        0
8          no   41            1           0         0        1        0
...       ...  ...          ...         ...       ...      ...      ...
4513       no   49            0           1         0        1        0
4515       no   32            0           1         0        0        0
4516       no   33            0           1         0        1        0
4517       no   57            1           0         0        1        0
4518       no   57            0           1         0        1        0

      secondary  tertiary
0             0         0
3             0         1
4             1         0
7             1         0
8             0         1
...         ...       ...
4513          1         0
4515          1         0
4516          1         0
4517          0         1
4518          1         0

[3705 rows x 9 columns]>

In [35]:
print(bankfull.shape)

(3705, 9)

In [36]:
# look at the list of column names
list(bankfull.columns.values)

['response',
 'age',
 'whitecollar',
 'bluecollar',
 'divorced',
 'married',
 'primary',
 'secondary',
 'tertiary']

### Select subset of variables for input to cluster analysis

In [37]:
data_for_clustering = pd.DataFrame(bank_selected, \
    columns = ['age', 'whitecollar', 'bluecollar', 
               'divorced', 'married',
               'primary', 'secondary', 'tertiary'])

In [58]:
# convert to matrix/numpy array for input to cluster analysis
data_for_clustering_matrix = data_for_clustering.to_numpy()

In [42]:
# investigate alternative numbers of clusters using silhouette score
silhouette_value = []
k = range(2,21) # look at solutions between 2 and 20 clusters
for i in k:
    clustering_method = KMeans(n_clusters = i, random_state = 9999)
    clustering_method.fit(data_for_clustering_matrix)
    labels = clustering_method.predict(data_for_clustering_matrix)
    silhouette_average = silhouette_score(data_for_clustering_matrix, labels)
    silhouette_value.append(silhouette_average)

In [61]:
silhouette_value

[0.6011924225417763,
 0.5293644780516247,
 0.4721454005981507,
 0.47630673209859026,
 0.4637691472263642,
 0.4433624177819202,
 0.42318214126648984,
 0.39121656928300874,
 0.39696312142328394,
 0.3735895891878165,
 0.34632698130483974,
 0.33398645421752704,
 0.32482089108318324,
 0.30533733718005374,
 0.31145696123345357,
 0.30774354972695944,
 0.2731881494085734,
 0.25536682931153093,
 0.2779749045680289]

In [43]:
# highest silhouette score is for two clusters... use that solution here
clustering_method = KMeans(n_clusters = 2, random_state = 9999)
clustering_method.fit(data_for_clustering_matrix)
labels =clustering_method.predict(data_for_clustering_matrix)

In [44]:
# add cluster labels to bankfull and review the solution 
bankfull['cluster'] = labels

In [62]:
bankfull

,response,age,whitecollar,bluecollar,divorced,married,primary,secondary,tertiary,cluster
0,no,30,0,0,0,1,1,0,0,0
3,no,30,1,0,0,1,0,0,1,0
4,no,59,0,1,0,1,0,1,0,1
7,no,39,0,1,0,1,0,1,0,0
8,no,41,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4513,no,49,0,1,0,1,0,1,0,1
4515,no,32,0,1,0,0,0,1,0,0
4516,no,33,0,1,0,1,0,1,0,0
4517,no,57,1,0,0,1,0,0,1,1
4518,no,57,0,1,0,1,0,1,0,1

In [53]:
# pivot table and cross-tabulation examples
bankfull.pivot_table(columns = ['cluster'])  
pd.crosstab(bankfull.cluster, bankfull.bluecollar, margins = True)

bluecollar     0     1   All
cluster
0           1079  1224  2303
1            756   646  1402
All         1835  1870  3705

In [54]:
# groupby example
segments = bankfull.groupby('cluster')
segments.describe()

            age                                                     \
          count       mean       std   min   25%   50%   75%   max
cluster
0        2303.0  34.293964  5.064226  19.0  31.0  34.0  38.0  43.0
1        1402.0  52.236805  6.489732  44.0  47.0  51.0  56.0  87.0

        whitecollar            ... secondary      tertiary            \
              count      mean  ...       75%  max    count      mean
cluster                        ...
0            2303.0  0.405992  ...       1.0  1.0   2303.0  0.327833
1            1402.0  0.369472  ...       1.0  1.0   1402.0  0.234665


              std  min  25%  50%  75%  max
cluster
0        0.469526  0.0  0.0  0.0  1.0  1.0
1        0.423940  0.0  0.0  0.0  0.0  1.0

[2 rows x 64 columns]